<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yunbao.main">

    <uses-permission android:name="android.permission.VIBRATE" />
    <!--监听电话状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".activity.LoginInvalidActivity"
            android:theme="@style/dialog2"
            />
        <activity
            android:name=".activity.LoginActivity"
            />
        <activity
            android:name=".activity.LoginActivity2"
            />
        <activity
            android:name=".activity.LoginActivity3"
            />
        <activity
            android:name=".activity.LoginAndRegistActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".activity.RegisterNewActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".activity.LoginNewActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme1"
            />
        <activity
            android:name=".activity.FindPswOneActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".activity.FindPswScondActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity
            android:name=".activity.UserHomeActivity"
            />
        <activity
            android:name=".activity.SettingActivity"
            />

        <activity
            android:name=".activity.SearchActivity"
            />
        <activity
            android:name=".activity.FollowActivity"
            />
        <activity
            android:name=".activity.FansActivity"
            />
        <activity
            android:name=".activity.EditProfileActivity"
            />
        <activity
            android:name=".activity.EditSexActivity"
            />
        <activity
            android:name=".activity.EditNameActivity"
            />
        <activity
            android:name=".activity.EditSignActivity"
            />
        <activity
            android:name=".activity.MyImpressActivity"
            />
        <activity
            android:name=".activity.MyCoinActivity"
            />
        <activity
            android:name=".activity.MyVideoActivity"
            />
        <activity
            android:name=".activity.MyProfitActivity"
            />
        <activity
            android:name=".activity.CashActivity"
            />
        <activity
            android:name=".activity.LiveClassActivity"
            />
        <activity
            android:name=".activity.LiveHotActivity"
            />
        <activity
            android:name=".activity.ModifyPwdActivity"
            />
        <activity
            android:name=".activity.RegisterActivity"
            />
        <activity
            android:name=".activity.RegisterActivity2"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.RegisterActivity3"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.FindPwdActivity"
            />
        <activity
            android:name=".activity.RecommendActivity"
            />
        <activity
            android:name=".activity.ThreeDistributActivity"
            />
        <activity
            android:name=".activity.SmallProgressOldActivity"
            />
        <activity
            android:name=".activity.ChoosePhotoActivity"
            />
        <activity
            android:name=".activity.EditChatAppActivity"
            />
        <activity
            android:name=".activity.EditMyInforActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity
            android:name=".activity.RankActivity"
            android:screenOrientation="portrait"
            />
        <receiver android:name=".event.MyPhoneState">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"></action>
            </intent-filter>
        </receiver>
        <activity
            android:name="com.yunbao.common.activity.DownloadActivity"
            />
    </application>
</manifest>
